.card.card-login .card-login-splash img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  display: block;
  z-index: -1;
}

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAENJREFUKFNjZCAC/D8l/5+RkDqQIpAarArhkmYPGcGmmT1kxFCIrghsGrpCXIpQrManiHSFhEwDm4isCF9Qwb1PKDwBBMo92R0FgQcAAAAASUVORK5CYII=)
    repeat;
}

#footer {
  font-size: 0.8rem;
}

.input-error {
  outline: 1px solid red;
}
